body {
    background: linear-gradient(to top right, rgb(255, 255, 255), rgb(114, 114, 114));
    background-repeat: no-repeat;
    height: auto;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 30px;
}